/*h1{
	text-align: center;
	background-color: black;
	color: white;
	font-family: Helvetica;
}
h2{
	background-color: white;
	padding: 1%;
}
div{
	background-color: white;
}
body{
	background-color: black;
}*/
textarea{
	padding-top: 1%;
}